USE [master]
GO
/****** Objeto: Database [gimpafre] Fecha de script: 5/10/2026 1:15:09 p. m. ******/
CREATE DATABASE [gimpafre]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'gimpafre', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\gimpafre.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'gimpafre_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\gimpafre_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [gimpafre].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [gimpafre]
GO
/****** Objeto: User [gimpafre_app] Fecha de script: 5/10/2026 1:15:10 p. m. ******/
CREATE USER [gimpafre_app] FOR LOGIN [gimpafre_app] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [gimpafre_app]
GO
/****** Objeto: Table [dbo].[AnoLectivo] Fecha de script: 5/10/2026 1:15:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnoLectivo](
	[id_ano_lectivo] [int] IDENTITY(1,1) NOT NULL,
	[denominacion] [nvarchar](20) NOT NULL,
	[fecha_inicio] [date] NOT NULL,
	[fecha_fin] [date] NOT NULL,
	[estado] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_ano_lectivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[denominacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Area] Fecha de script: 5/10/2026 1:15:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Area](
	[id_area] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [nvarchar](20) NOT NULL,
	[nombre] [nvarchar](80) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_area] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[AsignacionDocente] Fecha de script: 5/10/2026 1:15:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AsignacionDocente](
	[id_asignacion_docente] [int] IDENTITY(1,1) NOT NULL,
	[id_grupo] [int] NOT NULL,
	[id_plan_estudios] [int] NOT NULL,
	[id_docente] [int] NOT NULL,
	[fecha_asignacion] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_asignacion_docente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_asigdoc_grupo_plan] UNIQUE NONCLUSTERED 
(
	[id_grupo] ASC,
	[id_plan_estudios] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Asignatura] Fecha de script: 5/10/2026 1:15:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asignatura](
	[id_asignatura] [int] IDENTITY(1,1) NOT NULL,
	[id_area] [int] NOT NULL,
	[codigo] [nvarchar](20) NOT NULL,
	[nombre] [nvarchar](80) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_asignatura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Asistencia] Fecha de script: 5/10/2026 1:15:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asistencia](
	[id_asistencia] [int] IDENTITY(1,1) NOT NULL,
	[id_matricula] [int] NOT NULL,
	[id_asignacion_docente] [int] NOT NULL,
	[fecha] [date] NOT NULL,
	[estado] [nvarchar](20) NOT NULL,
	[motivo] [nvarchar](255) NULL,
	[soporte_justificacion] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_asistencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_asistencia_unica] UNIQUE NONCLUSTERED 
(
	[id_matricula] ASC,
	[id_asignacion_docente] ASC,
	[fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[BloqueHorario] Fecha de script: 5/10/2026 1:15:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BloqueHorario](
	[id_bloque_horario] [int] IDENTITY(1,1) NOT NULL,
	[id_horario] [int] NOT NULL,
	[id_asignacion_docente] [int] NOT NULL,
	[dia] [nvarchar](20) NOT NULL,
	[hora_inicio] [time](7) NOT NULL,
	[hora_fin] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_bloque_horario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Calificacion] Fecha de script: 5/10/2026 1:15:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calificacion](
	[id_calificacion] [int] IDENTITY(1,1) NOT NULL,
	[id_matricula] [int] NOT NULL,
	[id_asignacion_docente] [int] NOT NULL,
	[id_periodo] [int] NOT NULL,
	[id_componente_evaluacion] [int] NOT NULL,
	[valor] [decimal](4, 1) NOT NULL,
	[fecha_registro] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_calificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_calificacion_unica] UNIQUE NONCLUSTERED 
(
	[id_matricula] ASC,
	[id_asignacion_docente] ASC,
	[id_periodo] ASC,
	[id_componente_evaluacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[ComponenteEvaluacion] Fecha de script: 5/10/2026 1:15:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComponenteEvaluacion](
	[id_componente_evaluacion] [int] IDENTITY(1,1) NOT NULL,
	[id_escala_valoracion] [int] NOT NULL,
	[codigo] [nvarchar](20) NOT NULL,
	[denominacion] [nvarchar](80) NOT NULL,
	[porcentaje] [decimal](4, 1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_componente_evaluacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[CuentaUsuario] Fecha de script: 5/10/2026 1:15:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CuentaUsuario](
	[id_cuenta_usuario] [int] IDENTITY(1,1) NOT NULL,
	[id_rol] [int] NOT NULL,
	[id_docente] [int] NULL,
	[id_estudiante] [int] NULL,
	[nombre_usuario] [nvarchar](60) NOT NULL,
	[credenciales] [nvarchar](255) NOT NULL,
	[estado] [nvarchar](20) NOT NULL,
	[fecha_creacion] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cuenta_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Docente] Fecha de script: 5/10/2026 1:15:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Docente](
	[id_docente] [int] IDENTITY(1,1) NOT NULL,
	[tipo_documento] [nvarchar](20) NOT NULL,
	[numero_documento] [nvarchar](30) NOT NULL,
	[primer_nombre] [nvarchar](60) NOT NULL,
	[segundo_nombre] [nvarchar](60) NULL,
	[primer_apellido] [nvarchar](60) NOT NULL,
	[segundo_apellido] [nvarchar](60) NULL,
	[telefono] [nvarchar](30) NULL,
	[correo] [nvarchar](120) NULL,
	[formacion_academica] [nvarchar](max) NULL,
	[estado] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_docente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[numero_documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DocumentoAnexo] Fecha de script: 5/10/2026 1:15:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentoAnexo](
	[id_documento_anexo] [int] IDENTITY(1,1) NOT NULL,
	[id_matricula] [int] NOT NULL,
	[id_tipo_documento] [int] NOT NULL,
	[estado] [nvarchar](20) NOT NULL,
	[fecha_entrega] [date] NULL,
	[referencia_archivo] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_documento_anexo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DocumentoExpedido] Fecha de script: 5/10/2026 1:15:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentoExpedido](
	[id_documento_expedido] [int] IDENTITY(1,1) NOT NULL,
	[id_estudiante] [int] NOT NULL,
	[id_cuenta_usuario] [int] NOT NULL,
	[tipo] [nvarchar](60) NOT NULL,
	[fecha_solicitud] [date] NOT NULL,
	[fecha_expedicion] [date] NULL,
	[estado] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_documento_expedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[EscalaValoracion] Fecha de script: 5/10/2026 1:15:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EscalaValoracion](
	[id_escala_valoracion] [int] IDENTITY(1,1) NOT NULL,
	[id_grado] [int] NOT NULL,
	[nombre] [nvarchar](80) NOT NULL,
	[tipo] [nvarchar](20) NOT NULL,
	[valor_minimo] [decimal](4, 1) NULL,
	[valor_maximo] [decimal](4, 1) NULL,
	[valores_admitidos] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_escala_valoracion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Estudiante] Fecha de script: 5/10/2026 1:15:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estudiante](
	[id_estudiante] [int] IDENTITY(1,1) NOT NULL,
	[tipo_documento] [nvarchar](20) NOT NULL,
	[numero_documento] [nvarchar](30) NOT NULL,
	[lugar_expedicion_doc] [nvarchar](80) NULL,
	[primer_nombre] [nvarchar](60) NOT NULL,
	[segundo_nombre] [nvarchar](60) NULL,
	[primer_apellido] [nvarchar](60) NOT NULL,
	[segundo_apellido] [nvarchar](60) NULL,
	[sexo] [nvarchar](20) NULL,
	[fecha_nacimiento] [date] NULL,
	[lugar_nacimiento] [nvarchar](80) NULL,
	[nacionalidad] [nvarchar](50) NULL,
	[direccion] [nvarchar](150) NULL,
	[barrio] [nvarchar](80) NULL,
	[telefono] [nvarchar](30) NULL,
	[movil] [nvarchar](30) NULL,
	[fotografia] [nvarchar](255) NULL,
	[sisben] [nvarchar](30) NULL,
	[estrato] [int] NULL,
	[grupo_sanguineo] [nvarchar](10) NULL,
	[talla] [decimal](4, 2) NULL,
	[peso] [decimal](5, 2) NULL,
	[info_seguridad_social] [nvarchar](120) NULL,
	[numero_afiliacion] [nvarchar](50) NULL,
	[diagnostico_clinico] [nvarchar](max) NULL,
	[pertenencia_etnica] [nvarchar](80) NULL,
	[area_interes] [nvarchar](120) NULL,
	[area_dificultad] [nvarchar](120) NULL,
	[numero_hermanos] [int] NULL,
	[hermanos_mujeres] [int] NULL,
	[hermanos_hombres] [int] NULL,
	[lugar_entre_hermanos] [int] NULL,
	[con_quien_vive] [nvarchar](120) NULL,
	[observaciones] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_estudiante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[numero_documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[EstudianteFamiliar] Fecha de script: 5/10/2026 1:15:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstudianteFamiliar](
	[id_estudiante_familiar] [int] IDENTITY(1,1) NOT NULL,
	[id_estudiante] [int] NOT NULL,
	[id_familiar] [int] NOT NULL,
	[parentesco] [nvarchar](40) NOT NULL,
	[es_acudiente] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_estudiante_familiar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_estfam_estudiante_familiar] UNIQUE NONCLUSTERED 
(
	[id_estudiante] ASC,
	[id_familiar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Evidencia] Fecha de script: 5/10/2026 1:15:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evidencia](
	[id_evidencia] [int] IDENTITY(1,1) NOT NULL,
	[id_calificacion] [int] NOT NULL,
	[denominacion] [nvarchar](120) NOT NULL,
	[fecha] [date] NOT NULL,
	[valor] [decimal](4, 1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_evidencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Familiar] Fecha de script: 5/10/2026 1:15:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familiar](
	[id_familiar] [int] IDENTITY(1,1) NOT NULL,
	[tipo_documento] [nvarchar](20) NULL,
	[numero_documento] [nvarchar](30) NULL,
	[primer_nombre] [nvarchar](60) NOT NULL,
	[segundo_nombre] [nvarchar](60) NULL,
	[primer_apellido] [nvarchar](60) NOT NULL,
	[segundo_apellido] [nvarchar](60) NULL,
	[direccion] [nvarchar](150) NULL,
	[telefono] [nvarchar](30) NULL,
	[ocupacion] [nvarchar](80) NULL,
	[empresa] [nvarchar](120) NULL,
	[estado_civil] [nvarchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_familiar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_familiar_numero_documento] UNIQUE NONCLUSTERED 
(
	[numero_documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[flyway_schema_history] Fecha de script: 5/10/2026 1:15:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[flyway_schema_history](
	[installed_rank] [int] NOT NULL,
	[version] [nvarchar](50) NULL,
	[description] [nvarchar](200) NULL,
	[type] [nvarchar](20) NOT NULL,
	[script] [nvarchar](1000) NOT NULL,
	[checksum] [int] NULL,
	[installed_by] [nvarchar](100) NOT NULL,
	[installed_on] [datetime] NOT NULL,
	[execution_time] [int] NOT NULL,
	[success] [bit] NOT NULL,
 CONSTRAINT [flyway_schema_history_pk] PRIMARY KEY CLUSTERED 
(
	[installed_rank] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Grado] Fecha de script: 5/10/2026 1:15:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grado](
	[id_grado] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [nvarchar](20) NOT NULL,
	[nombre] [nvarchar](60) NOT NULL,
	[nivel] [nvarchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_grado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Grupo] Fecha de script: 5/10/2026 1:15:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grupo](
	[id_grupo] [int] IDENTITY(1,1) NOT NULL,
	[id_grado] [int] NOT NULL,
	[id_ano_lectivo] [int] NOT NULL,
	[denominacion] [nvarchar](20) NOT NULL,
	[cupo_maximo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_grupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_grupo_grado_ano_denom] UNIQUE NONCLUSTERED 
(
	[id_grado] ASC,
	[id_ano_lectivo] ASC,
	[denominacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Horario] Fecha de script: 5/10/2026 1:15:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Horario](
	[id_horario] [int] IDENTITY(1,1) NOT NULL,
	[id_grupo] [int] NOT NULL,
	[version] [int] NOT NULL,
	[fecha_vigencia_inicio] [date] NULL,
	[fecha_vigencia_fin] [date] NULL,
	[estado] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_horario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_horario_grupo_version] UNIQUE NONCLUSTERED 
(
	[id_grupo] ASC,
	[version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Matricula] Fecha de script: 5/10/2026 1:15:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matricula](
	[id_matricula] [int] IDENTITY(1,1) NOT NULL,
	[id_estudiante] [int] NOT NULL,
	[id_ano_lectivo] [int] NOT NULL,
	[id_grado] [int] NOT NULL,
	[id_grupo] [int] NULL,
	[consecutivo] [nvarchar](40) NOT NULL,
	[fecha] [date] NOT NULL,
	[tipo] [nvarchar](40) NULL,
	[estado] [nvarchar](20) NOT NULL,
	[concepto_psicopedagogico] [nvarchar](max) NULL,
	[resultado_registro_simat] [nvarchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_matricula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[consecutivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_matricula_estudiante_ano] UNIQUE NONCLUSTERED 
(
	[id_estudiante] ASC,
	[id_ano_lectivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[NivelDesempeno] Fecha de script: 5/10/2026 1:15:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NivelDesempeno](
	[id_nivel_desempeno] [int] IDENTITY(1,1) NOT NULL,
	[id_escala_valoracion] [int] NOT NULL,
	[denominacion] [nvarchar](40) NOT NULL,
	[limite_inferior] [decimal](4, 1) NOT NULL,
	[limite_superior] [decimal](4, 1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_nivel_desempeno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Observacion] Fecha de script: 5/10/2026 1:15:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Observacion](
	[id_observacion] [int] IDENTITY(1,1) NOT NULL,
	[id_matricula] [int] NOT NULL,
	[id_periodo] [int] NOT NULL,
	[id_docente] [int] NOT NULL,
	[fecha] [date] NOT NULL,
	[descripcion] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_observacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Periodo] Fecha de script: 5/10/2026 1:15:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Periodo](
	[id_periodo] [int] IDENTITY(1,1) NOT NULL,
	[id_ano_lectivo] [int] NOT NULL,
	[numero] [int] NOT NULL,
	[denominacion] [nvarchar](40) NOT NULL,
	[fecha_inicio] [date] NOT NULL,
	[fecha_fin] [date] NOT NULL,
	[porcentaje] [decimal](4, 1) NULL,
	[estado] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_periodo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_periodo_ano_numero] UNIQUE NONCLUSTERED 
(
	[id_ano_lectivo] ASC,
	[numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[PlanEstudios] Fecha de script: 5/10/2026 1:15:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlanEstudios](
	[id_plan_estudios] [int] IDENTITY(1,1) NOT NULL,
	[id_asignatura] [int] NOT NULL,
	[id_grado] [int] NOT NULL,
	[intensidad_horaria_semanal] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_plan_estudios] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_plan_asignatura_grado] UNIQUE NONCLUSTERED 
(
	[id_asignatura] ASC,
	[id_grado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Rol] Fecha de script: 5/10/2026 1:15:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[id_rol] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [nvarchar](30) NOT NULL,
	[denominacion] [nvarchar](80) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[TipoDocumento] Fecha de script: 5/10/2026 1:15:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoDocumento](
	[id_tipo_documento] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](120) NOT NULL,
	[obligatorio] [bit] NOT NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo_documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[ValoracionPeriodo] Fecha de script: 5/10/2026 1:15:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ValoracionPeriodo](
	[id_valoracion_periodo] [int] IDENTITY(1,1) NOT NULL,
	[id_matricula] [int] NOT NULL,
	[id_asignacion_docente] [int] NOT NULL,
	[id_periodo] [int] NOT NULL,
	[valor_definitivo] [nvarchar](20) NOT NULL,
	[fecha_consolidacion] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_valoracion_periodo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_valoracion_unica] UNIQUE NONCLUSTERED 
(
	[id_matricula] ASC,
	[id_asignacion_docente] ASC,
	[id_periodo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Index [flyway_schema_history_s_idx] Fecha de script: 5/10/2026 1:15:10 p. m. ******/
CREATE NONCLUSTERED INDEX [flyway_schema_history_s_idx] ON [dbo].[flyway_schema_history]
(
	[success] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EstudianteFamiliar] ADD  DEFAULT ((0)) FOR [es_acudiente]
GO
ALTER TABLE [dbo].[flyway_schema_history] ADD  DEFAULT (getdate()) FOR [installed_on]
GO
ALTER TABLE [dbo].[TipoDocumento] ADD  DEFAULT ((0)) FOR [obligatorio]
GO
ALTER TABLE [dbo].[TipoDocumento] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[AsignacionDocente]  WITH CHECK ADD  CONSTRAINT [fk_asigdoc_docente] FOREIGN KEY([id_docente])
REFERENCES [dbo].[Docente] ([id_docente])
GO
ALTER TABLE [dbo].[AsignacionDocente] CHECK CONSTRAINT [fk_asigdoc_docente]
GO
ALTER TABLE [dbo].[AsignacionDocente]  WITH CHECK ADD  CONSTRAINT [fk_asigdoc_grupo] FOREIGN KEY([id_grupo])
REFERENCES [dbo].[Grupo] ([id_grupo])
GO
ALTER TABLE [dbo].[AsignacionDocente] CHECK CONSTRAINT [fk_asigdoc_grupo]
GO
ALTER TABLE [dbo].[AsignacionDocente]  WITH CHECK ADD  CONSTRAINT [fk_asigdoc_plan] FOREIGN KEY([id_plan_estudios])
REFERENCES [dbo].[PlanEstudios] ([id_plan_estudios])
GO
ALTER TABLE [dbo].[AsignacionDocente] CHECK CONSTRAINT [fk_asigdoc_plan]
GO
ALTER TABLE [dbo].[Asignatura]  WITH CHECK ADD  CONSTRAINT [fk_asignatura_area] FOREIGN KEY([id_area])
REFERENCES [dbo].[Area] ([id_area])
GO
ALTER TABLE [dbo].[Asignatura] CHECK CONSTRAINT [fk_asignatura_area]
GO
ALTER TABLE [dbo].[Asistencia]  WITH CHECK ADD  CONSTRAINT [fk_asistencia_asigdoc] FOREIGN KEY([id_asignacion_docente])
REFERENCES [dbo].[AsignacionDocente] ([id_asignacion_docente])
GO
ALTER TABLE [dbo].[Asistencia] CHECK CONSTRAINT [fk_asistencia_asigdoc]
GO
ALTER TABLE [dbo].[Asistencia]  WITH CHECK ADD  CONSTRAINT [fk_asistencia_matricula] FOREIGN KEY([id_matricula])
REFERENCES [dbo].[Matricula] ([id_matricula])
GO
ALTER TABLE [dbo].[Asistencia] CHECK CONSTRAINT [fk_asistencia_matricula]
GO
ALTER TABLE [dbo].[BloqueHorario]  WITH CHECK ADD  CONSTRAINT [fk_bloque_asigdoc] FOREIGN KEY([id_asignacion_docente])
REFERENCES [dbo].[AsignacionDocente] ([id_asignacion_docente])
GO
ALTER TABLE [dbo].[BloqueHorario] CHECK CONSTRAINT [fk_bloque_asigdoc]
GO
ALTER TABLE [dbo].[BloqueHorario]  WITH CHECK ADD  CONSTRAINT [fk_bloque_horario] FOREIGN KEY([id_horario])
REFERENCES [dbo].[Horario] ([id_horario])
GO
ALTER TABLE [dbo].[BloqueHorario] CHECK CONSTRAINT [fk_bloque_horario]
GO
ALTER TABLE [dbo].[Calificacion]  WITH CHECK ADD  CONSTRAINT [fk_calificacion_asigdoc] FOREIGN KEY([id_asignacion_docente])
REFERENCES [dbo].[AsignacionDocente] ([id_asignacion_docente])
GO
ALTER TABLE [dbo].[Calificacion] CHECK CONSTRAINT [fk_calificacion_asigdoc]
GO
ALTER TABLE [dbo].[Calificacion]  WITH CHECK ADD  CONSTRAINT [fk_calificacion_componente] FOREIGN KEY([id_componente_evaluacion])
REFERENCES [dbo].[ComponenteEvaluacion] ([id_componente_evaluacion])
GO
ALTER TABLE [dbo].[Calificacion] CHECK CONSTRAINT [fk_calificacion_componente]
GO
ALTER TABLE [dbo].[Calificacion]  WITH CHECK ADD  CONSTRAINT [fk_calificacion_matricula] FOREIGN KEY([id_matricula])
REFERENCES [dbo].[Matricula] ([id_matricula])
GO
ALTER TABLE [dbo].[Calificacion] CHECK CONSTRAINT [fk_calificacion_matricula]
GO
ALTER TABLE [dbo].[Calificacion]  WITH CHECK ADD  CONSTRAINT [fk_calificacion_periodo] FOREIGN KEY([id_periodo])
REFERENCES [dbo].[Periodo] ([id_periodo])
GO
ALTER TABLE [dbo].[Calificacion] CHECK CONSTRAINT [fk_calificacion_periodo]
GO
ALTER TABLE [dbo].[ComponenteEvaluacion]  WITH CHECK ADD  CONSTRAINT [fk_componente_escala] FOREIGN KEY([id_escala_valoracion])
REFERENCES [dbo].[EscalaValoracion] ([id_escala_valoracion])
GO
ALTER TABLE [dbo].[ComponenteEvaluacion] CHECK CONSTRAINT [fk_componente_escala]
GO
ALTER TABLE [dbo].[CuentaUsuario]  WITH CHECK ADD  CONSTRAINT [fk_cuenta_docente] FOREIGN KEY([id_docente])
REFERENCES [dbo].[Docente] ([id_docente])
GO
ALTER TABLE [dbo].[CuentaUsuario] CHECK CONSTRAINT [fk_cuenta_docente]
GO
ALTER TABLE [dbo].[CuentaUsuario]  WITH CHECK ADD  CONSTRAINT [fk_cuenta_estudiante] FOREIGN KEY([id_estudiante])
REFERENCES [dbo].[Estudiante] ([id_estudiante])
GO
ALTER TABLE [dbo].[CuentaUsuario] CHECK CONSTRAINT [fk_cuenta_estudiante]
GO
ALTER TABLE [dbo].[CuentaUsuario]  WITH CHECK ADD  CONSTRAINT [fk_cuenta_rol] FOREIGN KEY([id_rol])
REFERENCES [dbo].[Rol] ([id_rol])
GO
ALTER TABLE [dbo].[CuentaUsuario] CHECK CONSTRAINT [fk_cuenta_rol]
GO
ALTER TABLE [dbo].[DocumentoAnexo]  WITH CHECK ADD  CONSTRAINT [fk_docanexo_matricula] FOREIGN KEY([id_matricula])
REFERENCES [dbo].[Matricula] ([id_matricula])
GO
ALTER TABLE [dbo].[DocumentoAnexo] CHECK CONSTRAINT [fk_docanexo_matricula]
GO
ALTER TABLE [dbo].[DocumentoAnexo]  WITH CHECK ADD  CONSTRAINT [fk_docanexo_tipo] FOREIGN KEY([id_tipo_documento])
REFERENCES [dbo].[TipoDocumento] ([id_tipo_documento])
GO
ALTER TABLE [dbo].[DocumentoAnexo] CHECK CONSTRAINT [fk_docanexo_tipo]
GO
ALTER TABLE [dbo].[DocumentoExpedido]  WITH CHECK ADD  CONSTRAINT [fk_docexp_cuenta] FOREIGN KEY([id_cuenta_usuario])
REFERENCES [dbo].[CuentaUsuario] ([id_cuenta_usuario])
GO
ALTER TABLE [dbo].[DocumentoExpedido] CHECK CONSTRAINT [fk_docexp_cuenta]
GO
ALTER TABLE [dbo].[DocumentoExpedido]  WITH CHECK ADD  CONSTRAINT [fk_docexp_estudiante] FOREIGN KEY([id_estudiante])
REFERENCES [dbo].[Estudiante] ([id_estudiante])
GO
ALTER TABLE [dbo].[DocumentoExpedido] CHECK CONSTRAINT [fk_docexp_estudiante]
GO
ALTER TABLE [dbo].[EscalaValoracion]  WITH CHECK ADD  CONSTRAINT [fk_escala_grado] FOREIGN KEY([id_grado])
REFERENCES [dbo].[Grado] ([id_grado])
GO
ALTER TABLE [dbo].[EscalaValoracion] CHECK CONSTRAINT [fk_escala_grado]
GO
ALTER TABLE [dbo].[EstudianteFamiliar]  WITH CHECK ADD  CONSTRAINT [fk_estfam_estudiante] FOREIGN KEY([id_estudiante])
REFERENCES [dbo].[Estudiante] ([id_estudiante])
GO
ALTER TABLE [dbo].[EstudianteFamiliar] CHECK CONSTRAINT [fk_estfam_estudiante]
GO
ALTER TABLE [dbo].[EstudianteFamiliar]  WITH CHECK ADD  CONSTRAINT [fk_estfam_familiar] FOREIGN KEY([id_familiar])
REFERENCES [dbo].[Familiar] ([id_familiar])
GO
ALTER TABLE [dbo].[EstudianteFamiliar] CHECK CONSTRAINT [fk_estfam_familiar]
GO
ALTER TABLE [dbo].[Evidencia]  WITH CHECK ADD  CONSTRAINT [fk_evidencia_calificacion] FOREIGN KEY([id_calificacion])
REFERENCES [dbo].[Calificacion] ([id_calificacion])
GO
ALTER TABLE [dbo].[Evidencia] CHECK CONSTRAINT [fk_evidencia_calificacion]
GO
ALTER TABLE [dbo].[Grupo]  WITH CHECK ADD  CONSTRAINT [fk_grupo_ano_lectivo] FOREIGN KEY([id_ano_lectivo])
REFERENCES [dbo].[AnoLectivo] ([id_ano_lectivo])
GO
ALTER TABLE [dbo].[Grupo] CHECK CONSTRAINT [fk_grupo_ano_lectivo]
GO
ALTER TABLE [dbo].[Grupo]  WITH CHECK ADD  CONSTRAINT [fk_grupo_grado] FOREIGN KEY([id_grado])
REFERENCES [dbo].[Grado] ([id_grado])
GO
ALTER TABLE [dbo].[Grupo] CHECK CONSTRAINT [fk_grupo_grado]
GO
ALTER TABLE [dbo].[Horario]  WITH CHECK ADD  CONSTRAINT [fk_horario_grupo] FOREIGN KEY([id_grupo])
REFERENCES [dbo].[Grupo] ([id_grupo])
GO
ALTER TABLE [dbo].[Horario] CHECK CONSTRAINT [fk_horario_grupo]
GO
ALTER TABLE [dbo].[Matricula]  WITH CHECK ADD  CONSTRAINT [fk_matricula_ano_lectivo] FOREIGN KEY([id_ano_lectivo])
REFERENCES [dbo].[AnoLectivo] ([id_ano_lectivo])
GO
ALTER TABLE [dbo].[Matricula] CHECK CONSTRAINT [fk_matricula_ano_lectivo]
GO
ALTER TABLE [dbo].[Matricula]  WITH CHECK ADD  CONSTRAINT [fk_matricula_estudiante] FOREIGN KEY([id_estudiante])
REFERENCES [dbo].[Estudiante] ([id_estudiante])
GO
ALTER TABLE [dbo].[Matricula] CHECK CONSTRAINT [fk_matricula_estudiante]
GO
ALTER TABLE [dbo].[Matricula]  WITH CHECK ADD  CONSTRAINT [fk_matricula_grado] FOREIGN KEY([id_grado])
REFERENCES [dbo].[Grado] ([id_grado])
GO
ALTER TABLE [dbo].[Matricula] CHECK CONSTRAINT [fk_matricula_grado]
GO
ALTER TABLE [dbo].[Matricula]  WITH CHECK ADD  CONSTRAINT [fk_matricula_grupo] FOREIGN KEY([id_grupo])
REFERENCES [dbo].[Grupo] ([id_grupo])
GO
ALTER TABLE [dbo].[Matricula] CHECK CONSTRAINT [fk_matricula_grupo]
GO
ALTER TABLE [dbo].[NivelDesempeno]  WITH CHECK ADD  CONSTRAINT [fk_niveldesempeno_escala] FOREIGN KEY([id_escala_valoracion])
REFERENCES [dbo].[EscalaValoracion] ([id_escala_valoracion])
GO
ALTER TABLE [dbo].[NivelDesempeno] CHECK CONSTRAINT [fk_niveldesempeno_escala]
GO
ALTER TABLE [dbo].[Observacion]  WITH CHECK ADD  CONSTRAINT [fk_observacion_docente] FOREIGN KEY([id_docente])
REFERENCES [dbo].[Docente] ([id_docente])
GO
ALTER TABLE [dbo].[Observacion] CHECK CONSTRAINT [fk_observacion_docente]
GO
ALTER TABLE [dbo].[Observacion]  WITH CHECK ADD  CONSTRAINT [fk_observacion_matricula] FOREIGN KEY([id_matricula])
REFERENCES [dbo].[Matricula] ([id_matricula])
GO
ALTER TABLE [dbo].[Observacion] CHECK CONSTRAINT [fk_observacion_matricula]
GO
ALTER TABLE [dbo].[Observacion]  WITH CHECK ADD  CONSTRAINT [fk_observacion_periodo] FOREIGN KEY([id_periodo])
REFERENCES [dbo].[Periodo] ([id_periodo])
GO
ALTER TABLE [dbo].[Observacion] CHECK CONSTRAINT [fk_observacion_periodo]
GO
ALTER TABLE [dbo].[Periodo]  WITH CHECK ADD  CONSTRAINT [fk_periodo_ano_lectivo] FOREIGN KEY([id_ano_lectivo])
REFERENCES [dbo].[AnoLectivo] ([id_ano_lectivo])
GO
ALTER TABLE [dbo].[Periodo] CHECK CONSTRAINT [fk_periodo_ano_lectivo]
GO
ALTER TABLE [dbo].[PlanEstudios]  WITH CHECK ADD  CONSTRAINT [fk_plan_asignatura] FOREIGN KEY([id_asignatura])
REFERENCES [dbo].[Asignatura] ([id_asignatura])
GO
ALTER TABLE [dbo].[PlanEstudios] CHECK CONSTRAINT [fk_plan_asignatura]
GO
ALTER TABLE [dbo].[PlanEstudios]  WITH CHECK ADD  CONSTRAINT [fk_plan_grado] FOREIGN KEY([id_grado])
REFERENCES [dbo].[Grado] ([id_grado])
GO
ALTER TABLE [dbo].[PlanEstudios] CHECK CONSTRAINT [fk_plan_grado]
GO
ALTER TABLE [dbo].[ValoracionPeriodo]  WITH CHECK ADD  CONSTRAINT [fk_valoracion_asigdoc] FOREIGN KEY([id_asignacion_docente])
REFERENCES [dbo].[AsignacionDocente] ([id_asignacion_docente])
GO
ALTER TABLE [dbo].[ValoracionPeriodo] CHECK CONSTRAINT [fk_valoracion_asigdoc]
GO
ALTER TABLE [dbo].[ValoracionPeriodo]  WITH CHECK ADD  CONSTRAINT [fk_valoracion_matricula] FOREIGN KEY([id_matricula])
REFERENCES [dbo].[Matricula] ([id_matricula])
GO
ALTER TABLE [dbo].[ValoracionPeriodo] CHECK CONSTRAINT [fk_valoracion_matricula]
GO
ALTER TABLE [dbo].[ValoracionPeriodo]  WITH CHECK ADD  CONSTRAINT [fk_valoracion_periodo] FOREIGN KEY([id_periodo])
REFERENCES [dbo].[Periodo] ([id_periodo])
GO
ALTER TABLE [dbo].[ValoracionPeriodo] CHECK CONSTRAINT [fk_valoracion_periodo]
GO
USE [master]
GO
